<header class="h-[calc(80vh-96px)] w-full relative">
  <div class="absolute inset-0 w-full h-full" id="repeat">
    {
      Array(5)
        .fill('')
        .map(() => {
          return (
            <div class="flex justify-around text-[] font-black text-zinc-200">
              <h1 class="capitalize tracking-wide">SOFTWARE</h1>
              <h1 class="capitalize tracking-wide">DEVELOPER</h1>
            </div>
          );
        })
    }
  </div>
  <div class="absolute inset-0 w-full h-full flex items-center justify-center">
  </div>
</header>
