<header class="hero bg-tranparent transition-colors duration-500">
  <div class="hero__inner">
    <h1 class="text-7xl font-black">Joshua Santos</h1>
    <p class="text-5xl font-medium">Software Engineer</p>
  </div>
</header>
<style>
  .hero {
    height: 80vh;
    width: 100%;
    position: relative;
  }
  .hero__inner {
    position: absolute;
    top: 33%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>
