<div
  class="h-[calc(100vh-10rem)] w-full relative flex items-center justify-center duration-500 dark:bg-zinc-900 bg-zinc-100 transition-colors"
  id="who-am-i-block"
>
  <!-- <div
    class="absolute inset-0 -left-1/4 w-[calc(100vh-10rem)] h-5 bg-red-500 flex justify-end rotate-[270deg] font-light"
  >
    <span>WHAT I DO</span>
  </div> -->
  <div
    class="card relative text-center rounded-lg backdrop-blur-sm border dark:border-zinc-50 border-zinc-400 before:from-emerald-400/80 before:to-fuchsia-400/80 dark:before:from-emerald-600/80 dark:before:to-fuchsia-600/80 before:rounded-lg duration-75"
  >
    <div
      class="card-content w-full h-full rounded-md p-10 py-[50%] from-zinc-300 dark:from-zinc-700 text-left"
    >
      <h2 class="text-4xl font-black">Joshua Santos</h2>
      <p>hello?</p>
    </div>
  </div>
</div>

<style>
  .basic-bg {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    /* repeating background*/
    background-image: radial-gradient(
      var(--tw-gradient-from) 9%,
      transparent 9%
    );
    background-position: 0 0;
    background-size: 6vmin 6vmin;
    background-position: center;

    mask: linear-gradient(
        to bottom,
        transparent 10%,
        black 50%,
        transparent 90%
      ),
      radial-gradient(circle at 50% 50%, black 0%, transparent 80%);

    transform: rotateX(30deg), rotateY(30deg), rotateZ(30deg);
    position: absolute;
    inset: 0;
    transition: background-size 2s ease-out;
    pointer-events: none;
  }
  #who-am-i-content:hover ~ div > .basic-bg {
    background-size: 5vmin 5vmin;
    transition: background-size 0.5s ease;
  }
</style>
