---
import Pill from './Pill.astro';
---

<div
  class="h-[calc(100vh-10rem)] w-full relative flex items-center justify-center duration-500 dark:bg-zinc-900 bg-zinc-100 transition-colors"
  id="who-am-i-block"
>
  <Pill title="who am i" />
  <div class="flex items-center justify-center z-[1]" id="who-am-i-content">
    hey!
  </div>
  <div aria-hidden="true">
    <div class="basic-bg from-zinc-400 dark:from-zinc-800"></div>
  </div>
</div>

<style>
  .basic-bg {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    /* repeating background*/
    background-image: radial-gradient(
      var(--tw-gradient-from) 9%,
      transparent 9%
    );
    background-position: 0 0;
    background-size: 6vmin 6vmin;
    background-position: center;

    mask: linear-gradient(
        to bottom,
        transparent 10%,
        black 50%,
        transparent 90%
      ),
      radial-gradient(circle at 50% 50%, black 0%, transparent 80%);

    transform: rotateX(30deg), rotateY(30deg), rotateZ(30deg);
    position: absolute;
    inset: 0;
    transition: background-size 2s ease-out;
    pointer-events: none;
  }
  #who-am-i-content:hover ~ div > .basic-bg {
    background-size: 5vmin 5vmin;
    transition: background-size 0.5s ease;
  }
</style>
